  <header>
    <div class="range-container">
      <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createUser">Register</a></li>
      <li><a href="/addRange">New Range</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
     </nav>
          </div>
    </header>