<div class="person">
  <p class="name">{{people.name}}</p>
  <p class="about" style="width: 300px">Intro: {{people.about}}</p>
  <img class="user_image" src="{{people.imageURL}}" style="width: 200px"><br>
  <a class="btn" href="/personDetails/{{people._id}}">Details</a>
</div>
{{!-- <br> --}}