<div class="person">
  <p class="name">{{people.name}}</p>
  <img class="image" src="{{people.imageURL}}" style="width: 200px;px"><br>
  <p class="age">Age: {{people.age}}</p>
  <a class="btn" href="/personDetails/{{people._id}}">Details</a>
</div><br>