<h1>Add Skills</h1>

<header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/createUser">Register</a></li>
        {{!-- <li><a href="/addRange">New Range</a></li> --}}
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>