<header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/createUser">Register</a></li>
        {{!-- <li><a href="/addRange">New Range</a></li> --}}
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>


    <p>We created an app where gun and shooting enthusiasits can post and search diffrent gun ranges. </p>