<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="/style.css" type="text" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  </head>
  <body>
    <div class="container">
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/createUser">Register</a></li>
        <li><a href="/addRange">New Range</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
<!-- body -->
<body>

  <h1><a href="/">Hello Users</a></h1>
  <header>
    <ul>
      {{!-- <li><a href="/createUser">Register</a></li> --}}
      <li><a href="/addRange">New Range</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </header>