<!DOCTYPE html>
<html lang="en">
  <!-- header -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<!-- body -->
<body>
  {{> header }}

  <h1><a href="/">Hello Users</a></h1>
  <div class="form">
    <form class="create-user" action="/createUser" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{person.name}}">
      <label for="password">Password:</label>
      <input type="password" id="pasword" name="password">
      <br>
      <label for="location">Age:</label>
      <input type="text" id="location" name="location" value="{{person.location}}"></input>
      <br>
      <p>
      <label for="about">Talk about yourself</label>
      <textarea id="about" name="about" value="{{person.about}}"></textarea>
      </p>
      <br>
    <label for="imageURL">Profile Image:</label>
      <input placeholder="paste image here" type="text" id="imageURL" name="imageURL" value="{{person.imageURL}}">
      
      <input type="submit" value="Register">
      </form>
      <img alt="Preview" id="imagePReview">
  </div>

</body>
</html>

