<!DOCTYPE html>
<html lang="en">
  <!-- header -->
<head>
  <title>Range Blog</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/style.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- body -->
<body>
  <h1>Hello World</h1>

</body>
</html>