<!DOCTYPE html>
<html lang="en">
  <!-- header -->
<head>
  <title>Range Blog</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href='/style.css' type='text/css' rel='stylesheet'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.png' />
</head>
<!-- body -->
<body>
  <h1><a href="/">Hello World</a></h1>
    <header>
      <ul>
        <li><a href="/createUser">Register</a></li>
        <li><a href="/addRange">New Range</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
  </body>
</html>