<!DOCTYPE html>
<html lang="en">
  <!-- header -->
<head>
  <link rel="icon" type="image/png" href="/public/images/favicon-16x16.png" sizes="16x16">
  <link href="/style.css" type="text/css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- body -->
<body>

  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createUser">Register</a></li>
      <li><a href="/addRange">New Range</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </header>
  <h1>Arms and Safety</h1>

{{!-- populate current ranges --}}

  <div class="ranges" >
    <h4> Ranges: </h4>
    {{#each ranges}}
      {{> rangeDiv ranges=this}}
    {{/each}}
  </div>

{{!-- populate current people --}}
  <div class="people">
    <h4> Users: </h4>
    {{#each people}}
      {{> peopleDiv people=this}}
    {{/each}}
  </div>
  </body>

</html>