<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link href="/style.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  {{> header }}

  <div class="container">
    <main>
	<h1>Login Form</h1>
<div class="form">
    <form action='/login' method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
</div>
    </main>
  </div>
  <footer>Blog about your experience at the range.</footer>

</body>

</html>