/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

body{
  text-shadow: white 0px 0px 15px ;
background-image: url('https://source.unsplash.com/1600x900/?shooting-range');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

form{
  background-color: rgba(173, 216, 230, 0.492);
  padding:5px
}

div{
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  padding: 3px
}

.ranges{
  text-indent: 15px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.range{
  text-shadow: white 0px 0px 0px !important;
  text-align:center;
  background-color: rgba(173, 216, 230, 0.492);
  position:static;
  left: 4em;
}


.people{
  text-indent: 15px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.person{
  text-shadow: white 0px 0px 0px !important;
  text-align:center;
  background-color: rgba(173, 216, 230, 0.492);
  margin-bottom: 3px;
}

header {
  background: #55b5aa;
  
}

header ul li {
  text-shadow: white 0px 0px 15px !important;
  display: inline-block;
  vertical-align: middle;
}

.container{
height: 100%;
align-content: center;
background-color: rgba(0,0,0,0.5) !important;
}

/* .card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
text-align: center;

background-color: rgba(0,0,0,0.5) !important;
} */

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float:left;
}


nav {
  font-size: larger;
  float: right;
  color:rgba(154, 223, 128, 0.492);
  
}

.range-details a{
 
  font-size: 32px;
  color:rgb(19, 16, 243);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 30%;
  
}

.range-details h1{
  color:rgb(119, 246, 250);
  font-size: 45px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 45%;
  border-color:rgb(4, 36, 4);
  border-width: 5px;
  border-style: solid;
}

.range-details h2{
  color:rgb(250, 140, 112);
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 25%;
 
}

.range-details footer{
  color:rgb(219, 27, 27);
  padding-left: 25%;
}

.range-details img{
  border-radius: 50px;
  width: 30%;
  padding-left: 20%;
}

.image-header {
  
  font-size: larger;
}

.range-details img{
  padding-left: 8%;
}
